/* Basic jQuery Slider essential styles */

ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;width:100%;margin:0;padding:2%;position:absolute;bottom:0;}

/* PhotoAlbum Slider styles */

#banner-slider{
    margin-left: auto;margin-right: auto;
	margin-bottom: 60px;
}

ul.bjqs-controls.v-centered li a{
	display:block;
	padding:10px;
	background:#fff;
	color:#000;
	text-decoration: none;
}

ul.bjqs-controls.v-centered li a:hover{
	background: transparent;
    color:#ccc;
}

ol.bjqs-markers li a{

	background:transparent;
	color:#000;
	margin:5px;
	text-decoration: none;
    font-size: small
}

ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover{
	background: transparent;
    color:#ccc;
}

p.bjqs-caption{
	background: rgba(255,255,255,0.5);
}

.bjqs-slide {text-align:center;}    
.bjqs-slide img { width: auto !important;margin:auto;}