<?xml version="1.0"?>
<connectionStrings>
  <add name="SnitzConnectionString" connectionString="Data Source=HUW-DELL\HUWLOCAL;Initial Catalog=testinstall;UID=SnitzUser;PWD=SnitzPassword;" providerName="System.Data.SqlClient" />
  <add name="SnitzMemberShip" connectionString="Data Source=HUW-DELL\HUWLOCAL;Initial Catalog=testinstall;UID=SnitzUser;PWD=SnitzPassword;" providerName="System.Data.SqlClient" />
  <!-- Other connection tests -->
  <add name="SnitzConnectionStringkerry" providerName="MySql.Data.MySqlClient" connectionString="Server=mysql7001.site4now.net;uid=a3d47a_kerry;pwd=Nambucca2018;Database=db_a3d47a_kerry" />
  <add name="SnitzMemberShipkerry" providerName="MySql.Data.MySqlClient" connectionString="Server=mysql7001.site4now.net;uid=a3d47a_kerry;pwd=Nambucca2018;Database=db_a3d47a_kerry" />
  <add name="SnitzConnectionString1111111" providerName="MySql.Data.MySqlClient" connectionString="Server=192.168.0.106;uid=snitzuser;pwd=mushr00m;Database=SnitzTest;" />
  <add name="SnitzMemberShip1111111" providerName="MySql.Data.MySqlClient" connectionString="Server=192.168.0.106;uid=snitzuser;pwd=mushr00m;Database=SnitzTest;" />
  <add name="SnitzMemberShip_new" connectionString="Data Source=137.74.189.252\SQLEXPRESS,2301;Initial Catalog=reddickMvc;Uid=SnitzUser;PWD=MGsn1tz2008RH" providerName="System.Data.SqlClient" />
  <add name="SnitzConnectionString_new" connectionString="Data Source=137.74.189.252\SQLEXPRESS,2301;Initial Catalog=reddickMvc;Uid=SnitzUser;PWD=MGsn1tz2008RH;" providerName="System.Data.SqlClient" />
  <add name="SnitzMemberShiplocal" connectionString="Data Source=192.168.0.41;Initial Catalog=db718011287;UID=sa;PWD=8al1Hy0o;" providerName="System.Data.SqlClient" />
  <add name="SnitzConnectionStringlocal" connectionString="Data Source=192.168.0.41;Initial Catalog=db718011287;UID=sa;PWD=8al1Hy0o;" providerName="System.Data.SqlClient" />
  <add name="SnitzConnectionStringMySql" providerName="MySql.Data.MySqlClient" connectionString="Server=u2841317.isphuset.no.mysqldb.isphuset.no;uid=u2841317;pwd=qGX5vq&amp;G5VXm;Database=u2841317_f;sql server mode=yes" />
  <add name="SnitzMemberShipMySql" providerName="MySql.Data.MySqlClient" connectionString="Server=u2841317.isphuset.no.mysqldb.isphuset.no;uid=u2841317;pwd=qGX5vq&amp;G5VXm;Database=u2841317_f;sql server mode=yes" />
  <add name="SnitzMemberShipSVM57856" connectionString="Data Source=SVM57856.vps.tagadab.com;Initial Catalog=Snitz2000;UID=SnitzUser;PWD=MGsn1tz2008RH;" providerName="System.Data.SqlClient" />
  <add name="SnitzConnectionStringSVM57856" connectionString="Data Source=SVM57856.vps.tagadab.com;Initial Catalog=Snitz2000;UID=SnitzUser;PWD=MGsn1tz2008RH;" providerName="System.Data.SqlClient" />
  <add name="SnitzConnectionStringx" connectionString="Data Source=137.74.189.252\SQLEXPRESS,2301;Initial Catalog=midland_0308;UID=mid_user;PWD=mid_user12018;" providerName="System.Data.SqlClient" />
  <add name="SnitzMemberShipx" connectionString="Data Source=137.74.189.252\SQLEXPRESS,2301;Initial Catalog=midland_0308;UID=mid_user;PWD=mid_user12018;" providerName="System.Data.SqlClient" />
</connectionStrings>
