<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="boolRunSetup" value="0" />
  <add key="LanguageConnectionString" value="SnitzConnectionString" />
  <add key="forumTablePrefix" value="FORUM_" />
  <add key="memberTablePrefix" value="FORUM_" />
  <add key="filterTablePrefix" value="FORUM_" />
  <add key="customTablePrefix" value="FORUM_" />
  <add key="lowercaseQuery" value="0" />
  <add key="strForumDescription" value="Snitz &amp;trade; Forums community support forum, Mvc version." />
  <add key="strForumUrl" value="http://localhost:57762/" />
  <add key="strForumTitle" value="Snitz Forums MVC " />
  <add key="strForumImage" value="" />
  <add key="strCookiePath" value="/" />
  <add key="boolDisablePosting" value="0" />
  <add key="boolProhibitNewMembers" value="0" />
  <add key="strUniqueId" value="Snitz00" />
  <add key="boolAllowSearchAllForums" value="1" />
  <add key="boolFullTextSearch" value="1" />
  <add key="boolShowAvatar" value="1" />
  <add key="UseSSL" value="false" />
  <!-- API Related -->
  <add key="secretkey" value="SnitzWebApi_2017" />
  <add key="issuer" value="self" />
  <add key="audience" value="https://reddick.co.uk" />
  <add key="strDefaultTheme" value="orange" />
</appSettings>