@using LangResources.Utility
@using MemberFields.Views.Helpers
    <div class="form-group">
        @Html.ConfigToggle(ResourceManager.GetLocalisedString("usrAdmin", "ExtProfile"), "STREXTENDPROFILE", "", "control-label col-xs-3")
    </div>