
/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 480px;
}
textarea {
    max-width: 980px;
    min-height: 160px;
    margin-bottom:6px;
}
.table-bordered > thead > tr > th {
    color:#fff;
    background-color: #0026ff;
}
.table > tbody > tr > td > div {
    white-space: nowrap;
    max-height: 24px;
    height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width:200px;
}
.danger{color:red;}
.border{border:1px solid #a4a1a1;border-radius:4px;margin:3px;}

header {
    background-color: #808080;
    min-height: 50px;
    width: 100%;
    padding: 6px;
    margin-bottom:3px;
}

footer {
    background-color: #808080;
    min-height: 30px;
    width: 100%;
    padding: 6px;
}

header a {
    color: #b1b1b1;
}

#file-explorer {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

    #file-explorer .container-fluid.body-content {
        width: 100%;
        overflow-y: auto;
    }


[class*='col-'].input-group {
    float: left;
    margin-right: 6px;
}